<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
  <header class="header" data-aos="fade-left">
    <div class="container">
      <h1>Joanne<br>Chen</h1>
      <img src="assets/images/photo.png" alt="user-pic">
    </div>
  </header>

  <%- contents %>

    <footer class="footer" data-aos="fade-left">
      <div class="container">
        <div class="footer-title">
          <h3>聯絡方式<span>CONTACT METHOD</span></h3>
        </div>
        <ul class="contact-list">
          <li><a href="mailto:xxxd@hexschool.com">Mail：xxxd@hexschool.com</a></li>
          <li><a href="tel">Phone：0910123456</a></li>
          <li>Kaohsiung, Taiwan</li>
          <li><a href="#">作品連結：https://www.behance.net/xxxdddddd</a></li>
        </ul>
        <ul class="contact-media-list">
          <li><a href="#"><img src="assets/images/facebook.svg" alt="facebook-logo"></a></li>
          <li><a href="#"><img src="assets/images/instagram.svg" alt="instagram-logo"></a></li>
          <li><a href="#"><img src="assets/images/line.svg" alt="line-logo"></a></li>
        </ul>
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>

</html>